*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.RDataTmp
*.RDataTmp1
*.RDataTmp2
*~$*.xlsx
*qualtrics_credential.R
*.Renviron
deprecated/*
Adrien's/*
*openai_key.txt
papers/build/*
*/build/*
*.bib
*.env
.Rproj.user
.positai
*.tmp